<div class="container text-center">
  <h1>Wagon Hunt - Product List</h1>
  <h2>Here are our awesome products</h2>

  <p>
  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-primary" %>
  </p>

  <p>
    <ul class="list text-left">
      <% @products.each do |product| %>
        <li>
          <%= product.name %> - <%= product.url %> | <%= link_to "Voir détail", product_path(product) %>
        </li>
      <% end -%>
    </ul>
  </p>
</div>
